<div class="mt-70">
    <footer class="bg-dark text-white text-center py-3 fixed-bottom ">
        <div class="container">
            <p class="mb-0">© 2025 
                <a href="#" class="text-white ml-2">Contact</a> |
                <a href="#" class="text-white ml-2">About</a> |
                <a href="#" class="text-white ml-2">Mention Legal</a> |
                <a href="#" class="text-white ml-2">Politique De Confidentialité</a>
            </p>
        </div>
    </footer>
</div>