<nav class="navbar navbar-expand-sm navbar-dark bg-dark ">
  <a class="navbar-brand ms-2 text-success fw-bold" href="/">My Exercises</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav me-2">
      <a class="nav-link" href="/">
        <i class="bi bi-journal-text btn btn-success btn-sm"> All Themes</i>
      </a>
        <li class="nav-item">
          <a class="nav-link" href="/">
            <i class="bi bi-journal-plus btn btn-dark btn-sm"> Add Theme </i>
          </a>
        </li>
    </ul>
    <ul class="navbar-nav ms-auto me-2">
      <% if (!user) { %>
        <li class="nav-item">
          <a class="nav-link text-success" href="/register">
            <i class="bi bi-box-arrow-in-right btn btn-success btn-sm"> Sign-up</i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">
            <i class="bi bi-box-arrow-in-right btn btn-success btn-sm"> Sign-in</i>
          </a>
        </li>
      <% } else { %>
        <li class="nav-item">
          <a class="nav-link" href="/account">
            <i class="bi bi-person-circle btn btn-info btn-sm"> Account</i>
          </a>
        </li>
        <li class="nav-item">
        </li>
        <li class="nav-item ">
          <a class="nav-link " href="/logout">
            <i class="bi bi-box-arrow-left btn btn-danger btn-sm"> Logout</i>
          </a>
        </li>
        <% } %>
    </ul>
  </div>
</nav>