<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0 py-2">
    <a class="navbar-brand m-0  p-0" href="/" >
      <img src="/img/logo.png" width="35px" height="35px" class="ms-2">
    </a> 
    <% if (lessons && lessons.length> 0) { %>
      <form id="lessonForm" action="/selectLesson" method="POST" class="ms-sm-2 ">
        <select 
          id="lessonSelect" 
          name="lesson" 
          class="form-select form-select-sm bg-dark text-2 text-capitalize"
        >
          <option hidden>Lessons</option>
          <% lessons.forEach(lesson=> { %>
          <option value="<%= lesson.lessonName %>" >
            <%= lesson.lessonName %> 
          </option>
          <% }) %>
        </select>
      </form>
    <% } %>

  <button class="navbar-toggler me-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNav" class="collapse navbar-collapse mx-2 mb-2 mb-sm-0" >
    <% if (!user) { %>
      <ul class="navbar-nav gap-2 ms-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="text-success" href="/register">
              <i class="bi bi-box-arrow-in-right btn bg-3 btn-sm"> Sign-up</i>
            </a>
          </li>
          <li class="nav-item  mb-sm-0">
            <a  href="/login">
              <i class="bi bi-box-arrow-in-right btn bg-3 btn-sm"> Login</i>
            </a>
          </li>
          <% if (tips && tips === "d-none") { %>
            <form action="/tips" method="post" class="d-flex ">
              <input type="hidden" name="status" value=""/>
              <button type="submit" class="btn btn-sm bg-4 text-dark">
                <i class="bi bi-info-lg"></i>
              </button>
            </form>
          <% } %>  
      </ul>
    <% } else { %>
      <ul class="navbar-nav gap-2 mt-2 mt-sm-0 ms-auto">
        <a href="/account" class="text-decoration-none">
          <i class="bi bi-person-circle btn bg-3 btn-sm "> 
            Account
          </i>   
        </a>
        <a href="/logout" class="text-decoration-none">
          <i class="bi bi-box-arrow-left btn bg-5 btn-sm"> 
            Logout
          </i>
        </a>
        <% if (tips && tips === "d-none") { %>
          <form action="/tips" method="post" class="d-flex ">
            <input type="hidden" name="status" value=""/>
            <button type="submit" class="btn btn-sm bg-3 text-dark">
              <i class="bi bi-info-lg"></i>
            </button>
          </form>
        <% } %>    
      </ul>
    <% } %>
  </div>
</nav>

