<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <a class="navbar-brand ms-2 text-white fw-bold" href="/">My Exercises</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <% if (!user) { %>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link text-success" href="/register">
            <i class="bi bi-box-arrow-in-right btn btn-success btn-sm"> Sign-up</i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">
            <i class="bi bi-box-arrow-in-right btn btn-success btn-sm"> Login</i>
          </a>
        </li>
      </ul>
      <% } else { %>
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <button class="nav-link" data-bs-toggle="modal" data-bs-target="#themeModal">
              <i class="bi bi-plus-lg btn btn-info btn-sm"> New Theme </i>
            </button>
          </li>
          <li class="nav-item">
            <% if (themes.length> 0) { %>
              <form id="themeForm" action="/selectTheme" method="POST">
                <select 
                  id="themeSelect" 
                  name="theme" 
                  class="form-select form-select-sm custom-select bg-dark text-info fw-bold mt-2"
                >
                  <option hidden>Theme</option>
                  <% themes.forEach(theme=> { %>
                  <option value="<%= theme.themeName %>" >
                    <%= theme.themeName %> 
                  </option>
                  <% }) %>
                </select>
              </form>
            <% } %>
          </li>
          <% if (selectedTheme) { %>
            <li class="nav-item ms-2" >
              <p  class="text-info fw-bold" style="margin-top:11px">
                <i class="bi bi-book-fill  "></i> 
                <%= selectedTheme %> : 
              </p>
            </li>
            <li class="nav-item">
              <a class="nav-link mt-1 fst-italic text-white" href="/notes"> All-Notes</a>
            </li>
          <% }%>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="/account">
              <i class="bi bi-person-circle btn btn-success btn-sm"> Account</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">
              <i class="bi bi-box-arrow-left btn btn-danger btn-sm"> Logout</i>
            </a>
          </li>
        </ul>
        <% } %>
  </div>
</nav>
<!-- Theme Modal -->
<div class="modal fade" id="themeModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">New Theme</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="" action="/addtheme" method="POST">
          <div class="mb-3">
            <label for="Theme name" class="form-label">Theme Name</label>
            <input type="text" class="form-control" name="themeName" placeholder="Enter your theme name">
            <% if (user && user._id) { %>
              <input type="hidden" name="userId" value="<%= user._id %>">
              <% } %>
          </div>
          <button type="submit" class="btn btn-info">Add Theme</button>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  // SUBMIT SELECTED
  const themeSelect = document.getElementById('themeSelect');
    if (themeSelect) {
      themeSelect.addEventListener('change', function () {
        document.getElementById('themeForm').submit();
      });
    }
</script>