<nav class="bg-secondary-dark <%= tips %>">
  <div class="d-flex  flex-wrap m-0 p-0" style="height: 30px;" >
      <!-- Block 1 (Center) -->
    <div
      class="d-flex mx-auto text-white fst-italic gap-2"
    >
      <p class="text-warning" style="margin-top:2px">Tips :</p>
      <div class="" style="margin-top:2px">
        <% if (!user) { %>
          <p class="showright250"> <!-- stape 1 -->
            Please
            <button 
              class="btn p-0" 
              onmouseenter="handleMouseEnter(event)"
              style="margin-top:-5px"
            >
            <a href="/login" class="text-success fw-bold text-decoration-none"> 
              Log-in
            </a>
            </button>
              to use the app !
          </p>
        <% } else { %>
          <% if (lessons && lessons.length > 0) { %>
            <% if (selectedLesson) { %>
              <% if (notesFull && notesFull.length >= 1 && notesFull.length < 6) { %>
                <p class="showright250"> <!-- stape 5 -->
                  Take a quiz after 6 notes added !
                </p>
              <% } else if (notesFull.length < 1) { %>
                <p class="showright250"> <!-- stape 4 -->
                  Write a new note
                  <button 
                    class="btn text-success fw-bold p-0"  
                    data-bs-toggle="modal" 
                    data-bs-target="#noteModal"
                    style="margin-top:-5px"
                    onmouseenter="handleMouseEnter(event)"
                    >
                    Here
                  </button> !
                </p>
              <% } else if (notesFull.length > 5) { %>
                <% if (tenQuizzes.length === 0) { %>
                  <p class="showright250"> <!-- stape 6 -->
                    You can start a quiz
                    <button 
                      class="btn p-0" 
                      style="margin-top:-5px"
                      onmouseenter="handleMouseEnter(event)"
                    >
                      <a  
                        href="/quiz" 
                        class="text-primary fw-bold text-decoration-none"
                      >
                        Here 
                      </a>
                    </button>
                    !
                  </p>
                <% } else if (tenQuizzes.length === 1) { %>
                  <p class="showright250"> <!-- stape 7 -->
                    Great ! Congrats for your first quiz !
                  </p>
                <% } else if (tenQuizzes.length > 1) { %>
                  <p class="showright250"> <!-- stape 8 -->
                    Discover your 10 last quizzes 
                    <button 
                      class="btn text-white p-0" 
                      style="margin-top:-5px"
                      onmouseenter="handleMouseEnter(event)"
                    >
                    <a  
                      href="/review" 
                      class="text-primary-light fw-bold text-decoration-none" 
                      onmouseenter="handleMouseEnter(event)"
                    >
                      Here
                    </a>
                    </button>
                    !
                  </p>
                <% } %>
              <% } %>
            <% } else { %>
              <p class="showright250"> <!-- stape 3 -->
                Select the lesson  !
              </p>
            <% } %>
          <% } else { %>
              <!-- stape 2 -->
              <p class="text-white showright250">
                Add a new lesson  
                <button 
                  class="btn text-info fw-bold text-decoration-none p-0" 
                  data-bs-toggle="modal" 
                  data-bs-target="#lessonModal"
                  style="margin-top:-5px"
                  onmouseenter="handleMouseEnter(event)"
                >
                Here
                </button>
                !
              </p>
          <% } %>
        <% } %>
      </div>
    </div>
    <!-- Block 2 (Right) -->
      <% if (!tips || tips !== "d-none") { %>
        <form action="/tips" method="POST" class="text-white" style="margin-top:3px">
          <input name="status" value="d-none" type="hidden"/>
          <button 
            type="submit" 
            class="btn text-warning p-0 me-2 showright"
            style="margin-top: -7px;"
            onmouseenter="handleMouseEnter(event)"
          >
            <i class="bi bi-x-circle-fill "></i>
          </button>
        </form>
      <% } %>
  </div>
</nav>
