<nav class="bg-secondary <%= tips %>">
  <div class="d-flex justify-content-center align-items-center " >
      <!-- Block 1 (Center) -->
    <div class="d-flex mx-auto text-white fst-italic gap-2 mt-2 ">
      <span class="text-4 mt-1 ">Tips :</span>
      <span class="mt-1">
      <% if (!user) { %>
        <p class="showright250"> <!-- stape 1 -->
          To use the app, <span class="text-5">sign up</span> or <span class="text-5">log</span> !
        </p>
      <% } else { %>
        <% if (lessons && lessons.length > 0) { %>
          <% if (selectedLesson) { %>
            <% if (notes && notes.length >= 1 && notes.length < 6) { %>
              <p class="showright250"> <!-- stape 5 -->
                After
                <span class="text-3">"6 notes"</span>
                added, you could take a quiz !
              </p>
            <% } else if (notes.length < 1) { %>
              <p class="showright250"> <!-- stape 4 -->
                In the action menu, write a new note
                <span class="text-3">( below )</span>
              </p>
            <% } else if (notes.length > 5) { %>
              <% if (tenQuizzes.length === 0) { %>
                <p class="showright250"> <!-- stape 6 -->
                  You can try a 
                  <span class="text-3">Quiz</span> in the action menu
                  <span class="text-3">( below )</span>
                </p>
              <% } else if (tenQuizzes.length === 1) { %>
                <p class="showright250"> <!-- stape 7 -->
                  Great ! Congratulations for your first quiz !
                </p>
              <% } else if (tenQuizzes.length > 1) { %>
                <p class="showright250"> <!-- stape 8 -->
                  In the action menu, find the stats button
                  <span class="text-3">( below )</span>
                </p>
              <% } %>
            <% } %>
          <% } else { %>
            <p class="showright250"> <!-- stape 3 -->
              In the top bar, select the lesson 
              <span class="text-3">( above )</span>
            </p>
          <% } %>
        <% } else { %>
          <p class="showright250"> <!-- stape 2 -->
            In the action menu, add a new lesson
            <span class="text-3">( below )</span>
          </p>
        <% } %>
      <% } %>
    </span>
    </div>

    <!-- Block 2 (Right) -->
      <% if (!tips || tips !== "d-none") { %>
        <form action="/tips" method="POST" class="text-white">
          <input name="status" value="d-none" type="hidden"/>
          <button 
            type="submit" 
            class="btn text-4 p-0 me-2 showright"
            style="margin-top: -7px;"
          >
            <i class="bi bi-x-circle-fill"></i>
          </button>
        </form>
      <% } %>
  </div>
</nav>
