<nav class="bg-secondary-dark <%= tips %>">
  <div class="d-flex  flex-wrap m-0 p-0" style="height: 30px;" >
      <!-- Block 1 (Center) -->
    <div
      class="d-flex mx-auto text-white fst-italic gap-2"
      style="margin-top:2px"
    >
      <p class="text-warning">Tips :</p>
      <div>
        <% if (!user) { %>
          <p class="showright250"> <!-- stape 1 -->
            Please
            <a href="/login" class="text-success fw-bold text-decoration-none"> 
              Log-in
            </a>
              to use the app !
          </p>
        <% } else { %>
          <% if (lessons && lessons.length > 0) { %>
            <% if (selectedLesson) { %>
              <% if (notesFull && notesFull.length >= 1 && notesFull.length < 6) { %>
                <p class="showright250"> <!-- stape 5 -->
                  Take a quiz after 6 notes added !
                </p>
              <% } else if (notesFull.length < 1) { %>
                <p class="showright250"> <!-- stape 4 -->
                  Write a new note
                  <span 
                    class="text-success fw-bold text-decoration-none cursor-link"  
                    data-bs-toggle="modal" 
                    data-bs-target="#noteModal"
                    >
                    Here
                  </span> !
                </p>
              <% } else if (notesFull.length > 5) { %>
                <% if (tenQuizzes.length === 0) { %>
                  <p class="showright250"> <!-- stape 6 -->
                    You can start a quiz
                      <a  
                        href="/quiz" 
                        class="text-primary fw-bold text-decoration-none"
                      >
                        Here 
                      </a>
                    !
                  </p>
                <% } else if (tenQuizzes.length === 1) { %>
                  <p class="showright250"> <!-- stape 7 -->
                    Great ! Congrats for your first quiz !
                  </p>
                <% } else if (tenQuizzes.length > 1) { %>
                  <p class="showright250"> <!-- stape 8 -->
                    Discover your 10 last quizzes 
                    <a  
                      href="/review" 
                      class="text-primary-light fw-bold text-decoration-none" 
                    >
                      Here
                    </a>
                    !
                  </p>
                <% } %>
              <% } %>
            <% } else { %>
              <p class="showright250"> <!-- stape 3 -->
                Select the lesson  !
              </p>
            <% } %>
          <% } else { %>
            <!-- stape 2 -->
            <p class="text-white showright250 ">
              Add a new lesson  
              <span 
                class="text-info fw-bold text-decoration-none cursor-link" 
                data-bs-toggle="modal" 
                data-bs-target="#lessonModal"
              >
                Here
              </span>
              !
            </p>
          <% } %>
        <% } %>
      </div>
    </div>
    <!-- Block 2 (Right) -->
      <% if (!tips || tips !== "d-none") { %>
        <form action="/tips" method="POST" class="text-white" style="margin-top:3px">
          <input name="status" value="d-none" type="hidden"/>
          <button 
            type="submit" 
            class="btn text-warning p-0 me-2 showright"
            style="margin-top: -7px;"
            onmouseenter="handleMouseEnter(event)"
          >
            <i class="bi bi-x-circle-fill "></i>
          </button>
        </form>
      <% } %>
  </div>
</nav>
