<nav class="navbar bg-0 p-0 m-0">
  <div class="container d-flex justify-content-center mt-1" style="height:60px" >
    <span class="d-flex gap-2" >
      <p class=" text-warning ">Tips : </p>
      <% if (!user) { %>
        <p class=" text-white fst-italic"> <!-- stape 1 -->
          !  Sign up or log in to use the app !! 
          <span class="text-secondary">( above ) </span> 
        </p>
      <% } else  { %>
        <% if (themes && themes.length > 0) { %>
          <% if (selectedTheme) { %>
            <% if (notes && notes.length >= 1 && notes.length < 6) { %>
              <p class=" text-white fst-italic"> <!-- stape 5 -->
                After
                <span class="text-2">6 notes</span> 
                added, you could take a quiz !
              </p> 
            <% } else if (notes.length < 1) { %>
              <p class=" text-white fst-italic"> <!-- stape 4 -->
                Next, add a note with
                <span class="text-2">"+Add Note"</span> button !
                <span class="text-secondary">( below )</span> 
              </p> 
            <% } else if (notes.length > 5) { %>
              <% if (quizzes && quizzes.length > 0) { %> 
                <% if (quizzes.length === 1) { %>
                  <p class=" text-white fst-italic"> <!-- stape 7 -->
                    Congrats for your 1st quiz ! 
                    <span class="text-2"> Quiz </span>  ! 
                    <span class="text-secondary">( above )</span> 
                  </p>
                <% } else if (quizzes.length > 1) { %>
                  <p class="text-white fst-italic"> <!-- stape 8 -->
                    Try another quiz with 
                    <span class="text-2"> Quiz </span> button! 
                    <span class="text-secondary">(above)</span> 
                  </p>
                <% } else { %>
                  <p class=" text-white fst-italic"> <!-- stape 6 -->
                    Great ! Try a quiz ! click on the 
                    <span class="text-2"> Quiz </span> button ! 
                    <span class="text-secondary">( above )</span> 
                  </p> 
                <% } %>
              <% } %>
            <% } %>
          <% } else { %>
            <p class=" text-white fst-italic"> <!-- stape 3 -->
              Select the theme at
              <span class="text-2">Theme</span>'s menu !
              <span class="text-secondary">( above )</span> 
            </p> 
          <% } %>
        <% } else { %>
          <p class=" text-white fst-italic"> <!-- stape 2 -->
            At first, add a theme with 
            <span class="text-2">"+Add"</span> button ! 
            <span class="text-secondary">( above )</span> 
          </p>
        <% } %>
      <% } %>
    </span>
  </div>
</nav>

