<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrap') %>
      <title>My Exercises Home page</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container text-center mt-3">
      <% if (!user) { %>
        <h1>Please log in to your account !</h1>
      <% } else { %>
        <h1>Welcome <span class="text-success"><%= user.name %></span> !</h1>
      <% } %>
      <% if (notes && notes.length> 9) { %>
        <span class="btn btn-sm bg-3 fst-italic ">
          <a class="text-white fw-bold  text-decoration-none " href="/quizgame">
            Start Quiz !!
          </a>
        </span>
      <% }%>
    </div>
    <script src="/script.js"></script>
  </body>
</html>