<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/bootstrap') %>
    <title>My Exercises Home page</title>
</head>
  <body>
    <%- include('./partials/nav') %>
      <div class="container mt-2">
        <div class="col-md-6 offset-md-3 text-center">
          <% if (user && user.name ) { %>
            <% if (themes.length> 0) { %>
              <select class="form-select custom-select">
                <% themes.forEach(theme=> { %>
                  <option>
                    <%= theme.themeName %>
                  </option>
                  <% }) %>
              </select>
            <% } else { %>
                <p>No themes found.</p>
            <% } %>
          <% } else { %>
            <h1> Log in or create an account to use the app !</h1>
          <% } %>
        </div>
      </div>
  </body>
</html>