<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/bootstrap') %>
  <title>Home page</title>
</head>

<body>
  <%- include('./partials/nav') %>

  <div class=" container ms-2 mt-3">
    <h2>Create your own quizzes by adding words!</h2>
    <p>If you added at least 10 words, you can start a quiz</p>
  </div>
</body>

</html>