<!DOCTYPE html>
<html>

<head>
  <%- include('./partials/bootstrap') %>
  <title>Home page</title>
</head>

<body>
  <%- include('./partials/nav') %>
  <h1>My Quiz !</h1>
  <a class="btn btn-success ms-2 mt-3" href="/product/new">Add Theme</a>
</body>

</html>