<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrap') %>
      <title>My Exercises Home page</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="mt-2 text-center d-flex justify-content-center">
      <% if (user && themes && selectedTheme) { %>
          <div class="col-3">
            <button 
              class="btn btn-primary btn-sm m-1" 
              data-bs-toggle="modal" 
              data-bs-target="#noteModal"
            >
              <i class="bi bi-plus-lg "> New Note </i>
            </button>
          </div>
        
      </div>
      <!-- Modal -->
      <div class="modal fade" id="noteModal" tabindex="-1">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Note</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/addnote" method="POST">
                <div class="mb-3">
                  <label for="front" class="form-label">Front</label>
                  <input type="text" class="form-control" name="front" placeholder="write a word to learn...">
                </div>
                <div class="mb-3">
                  <label for="back" class="form-label">Back</label>
                  <input type="text" class="form-control" name="back" placeholder="write its answer...">
                </div>
                <div class="mb-3">
                  <label for="categoryName" class="form-label">Category Name</label>
                  <input type="text" class="form-control" name="categoryName" placeholder="Write the category name...">
                </div>
                  <input type="hidden" name="themeName" value="<%= selectedTheme %>">
                  <input type="hidden" name="userId" value="<%= user._id %>">
                <button type="submit" class="btn btn-primary">Add Note</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <% } %>
    <script src="script.js"></script>
  </body>
</html>