<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/bootstrap') %>
    <title>Quiz Game</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container text-center">
      <% if (!user) { %>
        <h1>Please log in to your account !</h1>
        <a class="" href="/login">
          <i class="bi bi-box-arrow-in-right btn btn-success btn-lg"> Login </i>
        </a>
      <% } else { %>
        <h1>Quiz game !</h1>
        <% if (selectedCategory) { %>
          <% randomNotes.forEach(note => { %>
            <p><%= note.front %></p>
          <% }) %>
        <% } %>
      <% } %>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
